.page.photos-block{
    margin-top: 60px;
    min-height: 10vh;
    .photo-title{
        margin: 0 24px;
        font-size: 24px;
        font-weight: 600;
    }
    .photo-description{
        margin: 20px 24px;
        font-size: 18px;

        .btns{
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            .btn{
                font-weight: 600;
                border: 1px solid #545151;
                border-radius: 4px;
                padding: 8px 12px;
                cursor: pointer;
                color: black;
                text-decoration: none;
            }
        }
    }
}