.header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 20px;
        }
    }
    .content{
        min-height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        .text{
            max-width: 45%;
        }
        .photo{
            min-height: 300px;
            width: calc(55% - 12px);
            object-fit: cover;
            padding-right: 12px;
        }
    }
    .timer{
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        min-width: 340px;
        width: 100%;
        margin: 0 auto;
        .item{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .value{
                font-size: 28px;
            }
        }
    }
}